@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.title h1 {
  font-size: 3rem;
}
